body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}

header {
    background-color: #1F1F1F;
    color: #E0E0E0;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a {
    background-color: #252525;
    color: #BB86FC;
    text-decoration: none;
    border-radius: 5px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1;
    margin-bottom: 2.5%;
}

nav a:hover {
    color: #121212;
    background-color: #BB86FC;
}

.Active{
    background-color: #BB86FC;
    color: #121212;
}

.Wrapper {
    background-color: #252525;
    color: #E0E0E0;
    width: 75%;
    margin: auto;
    padding: 2.5%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.ExampleVid{
    display: block;
    margin: auto;
    width: 75%;
}

.SecondaryText {
    color: #A0A0A0;
}

footer {
    background-color: #1C1C1C;
    color: #A0A0A0;
    text-align: center;
    padding: 1%;
    margin-top: 1%;
}

figure img{
    display: block;
    margin: auto;
    width: 25%;
}

figcaption{
    margin-top: 1%;
    text-align: center;
}

table {
    width: 100%;
    background-color: #1F1F1F;
    color: #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

thead {
    background-color: #252525;
}

thead th {
    padding: 5%;
    text-align: left;
    color: #BB86FC;
}

tbody tr:nth-child(odd) {
    background-color: #121212;
}

tbody tr:nth-child(even) {
    background-color: #1C1C1C;
}

tbody td {
    padding: 2%;
    text-align: left;
    border-bottom: 1px solid #252525;
}

tfoot {
    background-color: #252525;
}

caption {
    caption-side: top;
    text-align: left;
    font-size: 30px;
    color: #BB86FC;
}

tbody tr:hover {
    background-color: #2A2A2A;
    color: #E0E0E0;
}

a{
    color: #BB86FC;
    text-decoration: none;
}

.GearCardContainer{
    display: flex;
    flex-wrap: wrap;
}

form{
    color:#BB86FC;
    text-align: center;
}

.form-row{
    margin: 5%;
}

.GearCard {
    background-color: rgb(85, 85, 85);
    color: #E0E0E0;
    border-radius: 10px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    width: 30%;
    text-align: center;
}

form {
    color: #BB86FC;
    text-align: center;
}

form label{
    margin-right: 2.5%;
}

.fieldset {
    background-color: #252525; 
    border-radius: 10px;
    padding: 20px;
    width: 80%; 
}

.form-row {
    display: flex;
    align-items: center; 
}

.form-row label {
    width: 150px; 
    text-align: right;
}

input:not([type="submit"]){
    padding: 2.5%;
    color: black;
    border-radius: 5px;
    width: 100%;
}


textarea {
    resize: none;
    width: 75%;
    height: 100px;
}

input[type="submit"] {
    background-color: #BB86FC;
    color: #121212;
    padding: 2.5%;
    border: none;
    border-radius: 10px;
}

.spacer {
    width: 150px;
    text-align: right;
}


@media only screen and (max-width: 700px){
    nav{
        flex-direction: column;
        justify-content: space-between;
    }

    .typeOfDrone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .typeOfDrone h2{
        margin-right: 5%;
    }

    .typeOfDrone p{
        width: 90%;
        margin: auto;
    }

    figure img{
        width: 100%;
    }

    .GearCardContainer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .GearCard {
        margin: 5%;
        padding: 5%;
        width: 90%;
    }

}